<div class="border-b text-gray-700 border-gray-300 pb-1 pt-1 flex justify-between items-center">
  <div class="flex-col">
    <div>
      <%= " #{membership.user.first_name } #{membership.user.last_name}"%>
    </div>
    <div class="text-sm italic text-gray-500">
      <%= membership.user.email%> 
    </div>
  </div>
  <% if @is_in_update %>
    <%= render 'memberships/remove', membership: membership%>
  <% end %>  
</div>