<div class="flex items-center justify-between mr-2 border-b border-gray-300 ">
  <%= membership.user.email %> 

  <% if @is_in_update %>
    <%= render 'memberships/remove', membership: membership %>
  <% end %>
  <br>
</div>
