<div class="">
    <h3 class="font-medium">New member: </h3>

    <%= form_with model: [@client, @project, @project.memberships.build ] do |f| %>
    <%= f.label :email, class: "mr-2"%>
    <%= f.email_field :email %>
   
    <%= f.submit "Add Member", class: "rounded bg-blue-200 p-2 hover:bg-blue-300" %>
     
    <% end %>
</div>