<%= form_with model: [@project, @project.memberships.build ] do |f| %>
  <div class="flex justify-between">
    <div class="p-1 my-1">
      <%= f.label :email, class: "mr-2"%>
      <%= f.email_field :email, class: "mr-2" %> 
      <%= f.submit "Add Member", class: "rounded bg-blue-200 p-2 hover:bg-blue-300 float-right mr-4" %>  
  </div>
<% end %>      

