<div class="border-b text-gray-700 border-gray-300 pb-2 pt-2">
  <div class="flex items-center justify-between">
    <div class="mr-4">
      <%= task.name %>   
    </div>
    <div>
      <%= link_to "Edit", edit_task_path(task), 
        class: "rounded bg-blue-200 p-1 pr-2 pl-2 hover:bg-blue-300 mr-4"
      %>
    </div>  
  </div>
</div>