<div class="flex flex-col items-center pt-4">
  <div class="max-w-md md:min-w-custom35 p-1 my-4">
    <h1 class="font-medium italic text-2xl ml-4 mb-10">New task</h1>

    <%= render "form", { task: @task } %>

    <div class="text-center p-1 m-4 mt-8">
      <%= link_to "Delete task", task_path(@task), 
        class: "rounded bg-red-400 p-2  hover:bg-red-500",
        data:{
          turbo_method: :delete,
          turbo_confirm: "Are you sure?"
        }
      %>    
    </div>
  </div>
</div>
