<div class="flex flex-col items-center pt-4">
  <div class="max-w-md md:min-w-custom35">
    <div class="p-1 my-2 pt-2">
      <h3 class="font-bold text-3xl float-left italic pl-2">Global tasks </h3>
      <div class="group relative float-left">
        <div class="hidden group-hover:block absolute bg-orange-100 rounded whitespace-nowrap ml-4">
          <p class="block p-1 text-xs ">
            You can create global tasks that is avaliable for everyone, <br>
              all you need to do is assign it to your project
          </p>
        </div>
       <span class="font-normal text-xs">&nbsp;[?]</span>
      </div>
    </div>
    <div class="clear-both pt-4">
     <%= render @tasks %>    
    </div>
    <br>
    <div class="text-center p-1 my-4">
      <%= link_to "New global task", new_task_path, class: "rounded bg-seaGreen p-2 hover:bg-seaGreenDark text-white" %>
    </div>
  </div>
</div>