<div class="flex flex-col items-center pt-4">
  <div class="max-w-md">
    <div class="p-1 my-2">
      <h3 class="font-bold">Global tasks: </h3>    
    </div>

    <div class="p-1 my-1">
     <%= render @tasks %>    
    </div>

    <div class="text-center p-1 my-4">
      <%= link_to "New global task", new_task_path, class: "rounded bg-blue-200 p-2 hover:bg-blue-300" %>
    </div>
  </div>
</div>