<div class="mt-5 mb-5 bg-neutral-50 border border-gray-400 rounded p-2">
  <div class="">
    <h4 class="font-semibold text-center">CAREFUL! this action will:</h4>
    <div class="flex justify-center">
      <ul class="italic">
        <li>- Delete the client permanently</li>
      </ul>              
    </div>
  </div>
  <br>
  <%= form_tag(client_path(client), method: :delete) do %>
    <span class="flex justify-center pb-2">Please enter "<span class="font-semibold">DELETE</span>" to confirm</span>
    <div class="flex justify-center">
      <%= text_field_tag :confirmation, nil, class: "form-control" %>
      <%= submit_tag "Delete client", class: "ml-2 bg-red-400 p-2 hover:bg-red-500 rounded" %>
    </div>
  <% end %>
</div>  