<div class="bg-zinc-100">
    <h1>index clients</h1><br>
    <% @clients.each do |client| %>
        clientnavn: <%= link_to client.name, client, class: "border-2 divide-slate-900" %><br>
        <br>
    <% end %>

    <div class="bg-indigo-200">
        <%= link_to "new client", new_client_path %>
    </div>
</div>