<!DOCTYPE html>
<html>
    <head>
        <title>ReapHome</title>

    </head>


    <body>

        <nav>
        </nav>

        <div class="min-w-max border-black border-2 rounded-sm">        <!-- sentrer objekter!?!?! -->
            <%= image_tag "Sickle.png", :alt=>"Sickle logo", class:"h-20 w-20" %>
        </div>
        
        <h1>Test</h1>
        
    </body>
</html> 











<!--

<div class="">
    <%= image_tag "Sickle.png", :alt=>"Sickle logo", class:"h-20 w-20" %>
</div>

<div class="max-h-50 max-w-50 bg-blue-500">
    <p> hei </p>
</div>


<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<p class="text-slate-500">
Denne siden er her :))</p>

-->
