
<!DOCTYPE html>
<html>
    <head>
        <title>ReapHome</title>

    </head>


    <body class=" border-2 border-orange-800 w-screen h-screen">

        <nav>
        </nav>

        <div class=" border-2 border-green-800 w-full h-full flex justify-center">


            <div class="w-3/5 h-60 border-black border-2 rounded-sm flex flex-col">

                <div class="w-full h-6 border border-purple-700 flex justify-center items-center">
                    <%= image_tag "Sickle.png", :alt=>"Sickle logo", class:"h-5 w-5" %>

                </div>

                <div class="w-full h-fill border border-blue-700 flex">
                    
                    <div class="flex justify-center item-center space-x-1">
                        <button class="rounded-md border border-orange-400 bg-orange-400"><-</button>
                        <button class="rounded-md border border-orange-400 bg-orange-400">-></button>
                    </div>

                    <div>
                    <h2>TODAY:<h2>
                    <!-- Dato -->
                    </div>
                </div>

                <div class="w-full h-20 border border-red-700 flex">

                    <div class="w-1/12 h-10 border border-green-700 flex justify-center items-center">
                        <button class="rounded-md border border-green-500 w-5 h-5 place-content-center">+</button>
                    </div>

                    <div class="w-full h-full border border-pink-700 flex">

                    </div>



                </div>
                

        </div>
    </body>
</html> 









<!--

<div class="">
    <%= image_tag "Sickle.png", :alt=>"Sickle logo", class:"h-20 w-20" %>
</div>

<div class="max-h-50 max-w-50 bg-blue-500">
    <p> hei </p>
</div>


<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<p class="text-slate-500">
Denne siden er her :))</p>

-->