<% t = Time.new %>
<%
    # TimeReg id: 3,
  # notes: "aaa", minutes: 22, membership_id: 1, assigned_task_id: 1,
  # created_at: "2023-05-06 18:57:27.068343000 +0000",
  # updated_at: "2023-05-06 19:09:00.838467000 +0000",
  # active: false, updated: "2023-05-06 19:08:59.781075000 +0000",
  # date_worked: "2023-05-06"
%>

<div class="flex flex-row">
  <div class="basis-1/12 justify-items-center">


    <div class="content-center self-center justify-items-center my-16">
      <div class="flex flex-col self-center">
        <div class="bg-green-500 h-12 w-12 px-1 py-1 rounded-xl self-center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="white" class="w-10 h-10 self-center">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
          </svg>
        </div>
        <div class="text-xs mt-2 m-auto self-center">
          Track time
        </div>
      </div>
    </div>


  </div>

  <div class="basis-10/12 flex flex-col h-100 ">
    <div class="grid grid-cols-12">
      <div class="col-span-1 flex  ">
        <div class="border rounded p-2 ">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
          </svg>
        </div>
        <div class="border rounded p-2">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
          </svg>
        </div>
      </div>
      <div class="col-span-10 flex text-3xl self-end">
        <p class="bold mr-2">
        Today: 
        </p>
        <p class="text-2xl  self-end">
        <%= t.strftime("%A, %H %B") %>
        </p>
      </div>

      <div class="col-span-1 flex">
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5" />
          </svg>
        </div>
        <div>
          Day
        </div>
        <div>
          Week
        </div>
      </div>
    </div>


    <div class="flex flex-row items-center content-center mt-6">
      <div class="grid grow">
        Mon<br>
        0:00
      </div>
      <div class="grid  grow">
        Tue<br>
        0:00
      </div>
      <div class="grid grow">
        Wed<br>
        0:00
      </div>
      <div class="grid  grow">
        Thu<br>
        0:00
      </div>
      <div class="grid  grow">
        Fri<br>
        0:00
      </div>
      <div class="grid grow">
        Sat<br>
        0:00
      </div>
      <div class="grid  grow">
        Sun<br>
        0:00
      </div>
      <div class="grow content-center items-center text-end">
        Week total
        <br />
        0:01
      </div>

    </div>

    <div class="border-y-2 divide-y-2">
      <table>
        <tbody>
          <% @time_regs.each do |time_reg| %>
            <tr>
              <div class="bg-yellow-100 p-2 divide-y-2">
                <div class="flex ">
                  <div class="grow">
                    <b class="mr-2"> Example Project</b>(Example client)
                    <br>
                    <%= time_reg.notes %>
                  </div>
                  <div class="flex mx-2">
                    <div class="mr-2 self-center">
                      0:00
                    </div>
                    <div class="mr-2 self-center">
                      Stop
                    </div>
                    <div class="self-center">
                      Edit
                    </div>
                  </div>
                </div> 
              </div>
              <!-- Add more cells for other TimeEntry attributes -->
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class='text-end mt-6 mr-24'>
    Total:  0:01
  </div>

</div>
</div>






<%= link_to "clients", clients_path, class: "border-2" %>



