<div data-controller="user-reports-boxes">
  <!--groups the projects by client -->
  <% grouped_projects.each do |group, projects| %>
    <div class="clear-both m-4">
      <h4 class="italic"><%= group.name %></h4>
      <div class="flex justify-start" >
        <%= collection_check_boxes :user_report, :project_ids , projects, :id, :name do |checkbox|%>
        <div class="border mr-8 m-1 p-2 rounded-xl border-gray-300" >
          <%= checkbox.check_box checked: report.project_ids.include?(checkbox.value.to_s) %> <!--checks if box was checked earlier-->
          <%= checkbox.label %>      
        </div>
        <% end %>    
      </div>
    </div>
  <% end %>
</div>
