<div data-controller="user-project-taskboxes">
  <div class="mr-4 font-semibold p-1 w-fit float-left m-1">
    <%= check_box_tag "check_projects", 0, false, id: "check_all_tasks" %>
    <%= 'Check all' %>
    <br>
  </div>
<% tasks.each do |task| %>
  <div class="mr-4 border border-yellow-600 rounded p-1 w-fit float-left m-1">
    <% checked = selected_tasks.include?(task.id.to_s) %>
    <%= check_box_tag 'task_ids[]', task.id, checked %>
    <%= label_tag "task_#{task.id}", task.name %>
  </div>
<% end %>

</div>

