<div class="" >
  <div class="flex flex-wrap">
    <% if tasks.present? %>
      <%= collection_check_boxes :user_report, :task_ids , tasks, :id, :name do |checkbox|%>
        <div class="border mr-8 m-1 p-2 rounded-xl border-gray-300" >
          <%= checkbox.check_box checked: report.task_ids.include?(checkbox.value.to_s), class: 'text-seaGreenDark focus:ring-seaGreenDark focus:ring-offset-2 focus:ring-opacity-50' %> <!--checks if box was checked earlier-->
          <%= checkbox.label %>
        </div>
      <% end %>
    <% end %>      
  </div>
</div>