<div class="flex justify-evenly bg-orange-50 w-11/12 mt-4 mb-4 p-2 rounded float-right border border-yellow-600">
  <div>
    <label for="date_start">Date Start:</label>
    <div class="">
      <%= date_field_tag 'user_report[date_start]', @report.date_start ,class: 'pr-8' %>
    </div>    
  </div>

  <div>
    <label for="date_end">Date End:</label>
    <div class="">
      <%= date_field_tag 'user_report[date_end]', @report.date_end, class: 'pr-8' %>
    </div>  
  </div>
</div>

