<div class="mt-5 mb-5 bg-tastyWhiteLite border border-gray-400 rounded p-2">
  <div class="text-center">
    <h4 class="">Provide a CSV file with these columns</h4>
    <br>
    <p class="font-semibold">date;client;project;task;notes;minutes;first name;last name;email</p>
    <br>    
    <div >
      <%= form_with url: projects_import_path do |form| %>
        <span class="rounded bg-seaGreen p-2 hover:bg-seaGreenDark shadow text-white mr-2">
          <%= submit_tag "Import CSV", class: ''%>
        </span>
        <%= form.file_field :file %>
      <% end %>    
    </div>
  </div>
  <br>
</div>  