<div class="modal-content bg-white rounded-lg overflow-hidden shadow-xl transform transition-all p-10" data-action="click->modal#preventClose">
  <h4 class="font-semibold text-center">Projects import</h4>
  <div class="">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>             
  </div>
</div>  