<div class="mt-5 mb-5 bg-tastyWhiteLite border border-gray-400 rounded p-2">
  <div class="">
    <h4 class="font-semibold text-center">CAREFUL! this action will:</h4>
    <div class="flex justify-center">
      <ul class="italic">
        <li >- Remove all time entries for every member permanently</li>
        <li>- Remove every member from the project</li>
        <li>- Remove every task from the project</li>
        <li>- Delete the project permanently</li>
      </ul>              
    </div>
  </div>
  <br>
  <%= form_tag(project_path(project), method: :delete) do %>
    <span class="flex justify-center pb-2">Please enter "<span class="font-semibold">DELETE</span>" to confirm</span>
    <div class="flex justify-center">
      <%= text_field_tag :confirmation, nil, class: "form-control" %>
      <%= submit_tag "Delete project", class: "ml-2 bg-red-400 p-2 hover:bg-red-500 rounded" %>
    </div>
  <% end %>
</div>  