<div class="bg-zinc-100">
    <h1>index projects</h1><br>
    <% @projects.each do |project| %>
        prosjektnavn: <%= link_to project.name, project, class: "border-2 divide-slate-900" %><br>
        <br>
    <% end %>

    <div class="bg-indigo-200">
        <%= link_to "new project", new_project_path %>
    </div>
</div>