<div class="flex justify-evenly pt-4">
  <div class="max-w-md">
    <div>
      <div class="w-96"></div>
      <div class="w-96"></div>
    </div>
    <h1 class="font-bold text-lg mb-5">Your projects: </h1>

    <% @clients.each do |client| %>
      <% @projects = current_user.projects.where(projects: {client_id: client.id}) %>
      <h2 class="font-semibold border-b border-gray-300 text-lg"><%= client.name %></h2>
      
      <% @projects.each do |project| %>
        <div class="border-b text-gray-700 border-gray-300 pb-1 pt-1 mb-4">
          <%= 
            link_to project.name, client_project_path(client, project), 
            class: 'italic text-stone-700 ml-2' 
          %>
        </div>
      <% end %>  
    <% end %>
  </div>
</div>