<div class="border-b text-gray-700 border-gray-300 flex justify-between items-center bg-tastyWhiteLite p-1 pl-2">
  <div><%= assigned_task.task.name %></div>
  <%= render 'assigned_tasks/remove', assigned_task: assigned_task %>
</div>
