<div class="flex flex-col items-center">
  <%= form_with model: [@project, @assigned_task] do |form| %>
    <div class="max-w-md md:min-w-custom35 flex justify-normal h-20">
      <div class="flex justify-between items-center">
        <%= form.collection_select :task_id, @tasks, :id, :name, { include_blank: false }, { class: 'pr-40 rounded-md p-2 border border-gray-300 mr-2' }  %>
        <% @assigned_task.errors.full_messages_for(:name).each do |message|%>
          <div class="text-red-600 italic text-xs mt-1">
            <%= message %>
          </div>
        <% end %>
      </div>
      <div class="actions text-center flex items-center ml-4">
        <span class="rounded bg-seaGreen p-2 hover:bg-seaGreenDark text-white">
          <%= form.submit 'Assign task', class: '' %>
        </span>
      </div>  
    </div>
  <% end %>
</div>