<div class="flex flex-col items-center pt-4">
  <div class="max-w-md md:min-w-custom35 p-1 my-4">
    <h1 class="font-medium italic text-2xl ml-4 mb-10">New task</h1>
    <%= render "form", { project: @project, assigned_task: @assigned_task, tasks: @tasks } %>

    <%= link_to "Back to Project", @project, class: "text-gray-600 italic text-sm text-left" %>  
  </div>
</div>