.BillableText {
  border: 2px solid black;
  background-color: gray;
  border-radius: 12px;
  padding: 15px;
  margin-top: 50px;
}

.BillableRate {
  border: 2px solid black;
  border-radius: 12px;
  padding: 15px;
  margin-top: 20px;
}

.Billable-Button {
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  background-color: transparent;
  padding: 15px;
  min-width: 400px;
  margin-left: 100px;
}

.Non-Billable-Button {
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  background-color: transparent;
  padding: 15px;
  min-width: 400px;
  margin-left: 20px;
}

.billable-sum {
  border-radius: 5px;
  max-width: 125px;
}
