<table class="w-full">
  <thead class="w-fill">
    <tr class="bg-gray-200 text-left">
      <% header_columns = {
          "date" => "Date",
          "client" => "Client",
          "project" => "Project",
          "task" => "Task",
          "user" => "Person"
      } %>
      <% header_columns.each do |group, title| %>
        <% if @report.group_by != group %>
          <th class="border-b-2 border-gray-300"><%= title %></th>
        <% end %>
      <% end %>
      <th class="border-b-2 border-gray-300">hours</th>
    </tr>
  </thead>
  <tbody class="w-full">

    <% grouped_report.each do | group, time_regs| %>
      <tr class="bg-gray-100">
        <td class="p-1 text-sm font-semibold  border-b-2 border-gray-300"><%= group %><br></td>
        <% 4.times do %>
          <td class="border-b-2 border-gray-300"></td>
        <% end %>
      </tr>

      <!-- iterates over each time_reg in each group -->
      <% time_regs.each do |time_reg |%>
        <tr class="border-b-2 border-gray-300">
          <%  content_columns = {
                "date" => time_reg[:date],
                "client" => time_reg[:client],
                "project" => time_reg[:project],
                "task" => time_reg[:task],
                "user" => time_reg[:user]
          }%>
          <% content_columns.each do |group, text |%>
            <% if @report.group_by != group %>
              <td class="pb-1"><%= text %></td>
            <% end %>
          <% end %>
          <td class="pb-1"><%= convert_time_int(time_reg[:minutes])%></td>
        </tr>
      <% end %>
      <!-- filler-row at bottom to space out the groups -->
      <tr class="">
        <td><br></td>
      </tr>
    <% end %>
  </tbody>
</table>

