<div class="flex flex-col items-center pt-4">
  <div class="max-w-md md:min-w-custom35" data-controller="reports">
    <%= collection_select(:project, :id, @projects, :id, :name, 
                      { include_blank: "select a project" }, 
                      { id: 'project-select', 'data-controller': 'project-select' }) 
    %>

    <div id="task-member-container">
      <div id="task-container">
        <h2>Tasks:</h2>
        <div  id="task-checkboxes" data-checkbox-group-target="container">
        </div>
      </div>
      
      <div id="member-container">
        <h2>Tasks:</h2>
        <div  id="member-checkboxes" data-checkbox-group-target="container">
        </div>
      </div>
  </div>
</div>