<div data-controller="check-boxes" class="clear-both">
  <% if members.length < 1%>
    <p>No members found</p>
  <% else %>
    <div class="mr-4 font-semibold p-1 w-fit float-left m-1">
      <%= check_box_tag "check_members", 0, false, id: "check_all_members" %>
      <%= 'Check all'%>
    </div>
    <% members.each_with_index  do |member, index| %>
      <div class="mr-4 border border-yellow-600 rounded p-1 w-fit float-left m-1">
        <%= check_box_tag "member_ids[]", member.id, false, id: "check_member_#{index}" %>
        <%= "#{member.first_name} #{member.last_name}" %>
      </div>
    <% end %>
  <% end %>
</div>