<% if current_user %>
    <h3> <%= link_to "Edit Account", edit_user_registration_path %> </h3>
    <h3> <%= button_to "Sign Out", destroy_user_session_path, method: :delete %> </h3>
<% else %>
    <h3> <%= link_to "Sign Up", new_user_registration_path %> </h3>
    <h3> <%= link_to "Sign In", new_user_session_path %> </h3>
<% end %>
