<p>
    <%= member.user.email %>
    <%= 
        link_to "remove", project_member_path(member), class: 'text-rose-900 px-4', 
        data:{
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"
        }
    %>
</p>
